body{
	background-image: url("../img/background image.jpg");
	grid-template-columns: repeat(12, 1fr);
	display: grid;
	grid-column: 1/12;
}
.container{
    width: 756px;
    height: 756px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
	grid-column: 2/6;
	margin-left: 1%;
	margin-top: 5%;
}
.order input{
    width: 80%;
    height: 75px;
    border-radius: 15px;
    background-color: #E990B9;
}
.button-container{
    display: flex;
    flex-direction: row;
    width: 80%;
	height: 10%;
    column-gap: 10%;
}
.button1{
    width: 45%;
}
.button1 input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #1e407a;
}
.button2{
    width: 45%;
}
.button2 input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #1e407a;
}
.address input{
    width: 80%;
    height: 75px;
    border-radius: 15px;
    background-color: #E990B9;
}
.types input{
    width: 80%;
    height: 75px;
    border-radius: 15px;
    background-color: #E990B9;
}
.right{
	grid-column:9/12;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.info{ 
	display:flex;
	justify-content: center;
	font-family: "Nexa Light";
	width: 90%;
	height: 30%;
	background-color: #E990B9;
	margin-left: 5%;
	color:white;
	font-size: 150%;
	text-align:center;
	margin-top: 6%;
	border-radius: 3%;
}
.right-buttons{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: 15%;
	height: 50%;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 20%;
}
.anchor{
	font-family: "Nexa Light";
	color: white;
	text-decoration: none;
	text-align: center;
	height: 50%;
	font-size: 190%;
}
.contact{
	background-color: #1e407a;
	width: 65%;
	height: 25%;
	margin-left: 20%;
	text-align: center;
}
.back{
	background-color: #1e407a;
	width: 65%;
	height: 25%;
	margin-left: 20%;
	text-align: center;
}