.icon img{
  width: 40px;
  height: auto;
}
.icon{
  display: none;
}
body{
	background-image: url("../img/background image.jpg");
	grid-template-columns: repeat(12, 1fr);
	display: grid;
}
.container{
    width: 120%;
    height: 130%;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
	grid-column: 2/6;
	margin-left: 1%;
	margin-top: 5%;
	justify-content: space-between;
}
.space{
	display: flex;
	flex-direction: column;
	height: 130%;
	margin-left: 1%;
	margin-top: 5%;
	row-gap: 45px;
}
.order{
	color:white;
}
.button-container{
    display: flex;
    flex-direction: row;
	width: 80%;
	height: 10%;
	justify-content: center;
}
.radio_buttons{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button1{
    width: 45%;
}
.button1 input{
    font-family: "Nexa Light", serif;
	width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #1e407a;
	color:white;
	font-size: 140%;
}
.button2{
    width: 45%;
}
.button2 input{
  font-family: "Nexa Light", serif;
	width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #1e407a;
	color: white;
	font-size: 140%;
}
#radio_buttons{
	width:100%;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	margin-top:8px;
}
.radio_button{
	display:flex;
	background-color: #1e407a;
	width:45%;
	height:50px;
	border-radius:10px;
	color:white;
	align-items:center;
	justify-content:center;
}
.address input{
    width: 80%;
    height: 160%;
    border-radius: 15px;
    background-color: #E990B9;
	font-size: 140%;
	color: white;
}
.types input{
    width: 80%;
    height: 160%;
    border-radius: 15px;
    background-color: #E990B9;
	font-size: 140%;
	color: white;
}
.right{
	grid-column:9/12;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 120%;
}
.info{
	display:flex;
	justify-content: center;
  font-family: "Nexa Light", serif;
	width: 90%;
	height: 20%;
	background-color: #E990B9;
	margin-left: 5%;
	color:white;
	text-align:center;
	margin-top: 6%;
	border-radius: 3%;
}
.right-buttons{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: 10%;
	height: 50%;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 20%;
}
.anchor{
  font-family: "Nexa Bold", serif;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 160%;
}
.contact{
	display: flex;
	justify-content: center;
	background-color: #1e407a;
	align-items: center;
	width: 75%;
	margin-left: 12%;
	text-align: center;
	border-radius: 15px;
	height: 60px;
}
.back{
	display: flex;
	justify-content: center;
	background-color: #1e407a;
	width: 75%;
	align-items: center;
	margin-left: 12%;
	text-align: center;
	border-radius: 15px;
	height: 60px;
}
.submit{
	display:flex;
	width: 80%;
	height: 10%;
	justify-content: center;
}
.submit input{
  font-family: "Nexa Bold", serif;
	width: 60%;
    height: 150%;
    border-radius: 15px;
    background-color: #1e407a;
	color:white;
	font-size: 140%;
}
.sunny{
	display: none;
}
.Text{
	display: none;
}
.submit2{
	display: none;
}



@media only screen and (max-width: 576px) {
	.icon{
		display: block;
		grid-column: 1/2;
	}
body{
		background-image: none;
		background-color: #51b2a2;
	}
.container{
		grid-column: 1/12;
		width: 100%;
		height: 50%;
		row-gap: 5px;
		margin-left: 13%;
	}
.right{
		grid-column: 1/12;
		width: 80%;
		height: 50%;
		margin-left: 13%;
	}

.button-container{
		height:60%;
	}
.button1{
	height: 150%;
}
.button2{
	height: 150%;
}
.button1 input{
		height: 80%;
		font-size: 55%;
	}
.button2 input{
		height: 80%;
		font-size: 55%;
	}
#radio_buttons{

}
.radio_button{
	height:40px;
	font-size:20px
}

.address input{
		height: 100%;

	}
.types input{
		height: 100%;

	}
.info{
	height:110%;
	border-radius:10px;
	width: 100%;
	position: relative;
	right: 13px;

}
.info h3{
	font-size: 50%;
}
.sunny{
	grid-column: 1/12;
	display: flex;
	height: 200px;
	width:350px;
	margin-left: 22%;
	justify-content: center;
	flex-direction:column;
}
#photo{
	height: 80%;
}
.contact{
	display: none;
}
.bb{
	display: flex;
	grid-column: 1/2;
	background-color: #1e407a;
	height: 23%;
	width: 150%;
	justify-content: center;
	text-align: center;
}
.bb a{
	color:white;
	text-decoration: none;
	font-size: 80%;
}
.Text{
  font-family: "Nexa Light", serif;
	display: flex;
	grid-column: 2/12;
	justify-content: center;
	color: white;
}
.Text p{
	font-size: 150%;
}
.back{
	display: none;
}
.submit{
	display: none;
}
.submit2{
	display:flex;
	margin-top:30px;
	background-color:#1e407a;
	height:55px;
	border-radius:10px;
	justify-content:center;
	align-items:center;

}
.submit2 a{
		color:white;
		text-decoration:none;
		font-size:25px;
  font-family: "Nexa Light", serif;
}

}
