@font-face{
	font-family: Nexa
	src= url("Nexa Light.TTF")
}
#container{
	display: grid;
	grid-template-columns: repeat (12, 1fr);
}
#box{
	grid-column: 3/8;
	background-color: navy;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#logo{
	grid-column: 9/12;
}
#button{
	grid-column: 4/7;
	background-color: navy;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
p{
	color: white;
}