@font-face{
	font-family: nexa;
	src: url("../fonts/Nexa Light.otf");
}
#container{
	display: grid;
	grid-template-columns: repeat (12, 1fr);
}
body{
	background-image: url("../img/background image.jpg");
	background-position: center;
	background-size: cover;
	font-family: nexa;
}
.button1{
	display: none;
}
.link{
	text-decoration: none;
	color: black;
}
.contact{
	display: none;
}

#box{
	grid-column: 2/8;
	background-color: #1E407A;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	margin-top: 30px;
	padding-bottom: 50px;
	border-radius: 3%;
}
.paragraph1{
	margin-top: 30px;
}
.title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	margin-top: 30px;
}
.text{
	margin-top: -15px;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#logo{
	grid-column: 9/12;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.whitelogo{
	display: none;
}
#button{
	grid-column: 3/7;
	background-color: #1E407A;
	margin-top: 10px;
	border-radius: 3%;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
h2{
	color: white;
}
.link2{
	text-decoration: none;
	color: white;
}
p{
	color: white;
	font-size: 20px;
}

@media screen and (max-width: 576px) {
	body{
		background-color: #51B2A2;
		background-image: none;
	}
	
	#container{
		grid-template-columns: repeat(3, 1fr);
		
	}
	.button1{
		display: block;
		grid-column: 1/2;
		color: black;
		background-color: #FECD3E;
		font-size: 50px;
		width: 95px;
		border-radius: 3%;
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.contact{
		display: block;
		grid-column: 2/3;
		font-size: 50px;
		
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.whitelogo{
		grid-column: 2/3;
		display: block;
		margin-top: 40px;
	}
	
	#button{
		display: none;
	}
	
	#box{
		grid-column: 1/4;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	#logo{
		display: none;
	}
}