@font-face{
	font-family: nexa;
	src: url("../fonts/Nexa Light.otf");
}
#container{
	display: grid;
	grid-template-columns: repeat (12, 1fr);
}
body{
	background-image: url("../img/background image.jpg");
	background-position: center;
	background-size: cover;
	font-family: nexa;
}
.button1{
	display: none;
}
.link{
	text-decoration: none;
	color: black;
}
.resellers{
	display: none;
	color: white;
}
.box{
	grid-column: 2/8;
	background-color: #1E407A;
	border-radius: 3%;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	
	padding-bottom: 30px;
	margin-top: 30px;
}
h1{
	color: white;
}
.hema{
	color: white;
	font-size: 17px;
}
.title{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.linkhema{
	margin-top: -10px;
	font-size: 17px;
}
.international{
	color: white;
	font-size: 17px;
}
.linkint{
	margin-top: -10px;
	font-size: 17px;
}
.germany{
	color: white;
	font-size: 17px;
}
.linkde{
	margin-top: -10px;
	font-size: 17px;
}
.bol{
	color: white;
	font-size: 17px;
}
.linkbol{
	margin-top: -10px;
	font-size: 17px;
}
.logo{
	grid-column: 9/12;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.whitelogo{
	display: none;
}
.button{
	grid-column: 3/7;
	background-color: #1E407A;
	border-radius: 3%;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
	margin-top: 10px;
}
h2{
	color: white;
}
.back{
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 576px){
	body{
		background-color: #51B2A2;
		background-image: none;
	}
	#container{
		grid-template-columns: repeat (3, 1fr);
	}
	.button1{
		display: block;
		grid-column: 1/2;
		background-color: #FECD3E;
		font-size: 50px;
		padding-right: -50px;
		border-radius: 3%;
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.resellers{
		display: block;
		grid-column: 2/3;
		font-size: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
	.box{
		grid-column: 1/4;
		margin-left: 20px;
		margin-right: 20px;
	}
	.logo{
		display: none;
	}
	.whitelogo{
		display: block;
		grid-column: 2/3;
		
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
	}
	.button{
		display: none;
	}
	
}